@import 'config/colors';
@import 'config/maps';
@import 'config/mixins';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  transition: background .15s ease-in-out, color .15s ease-in-out;

  &::before {
    display: none;
    visibility: hidden;
    content: 'small';

    @include respond-above(sm) {
      content: 'large'
    }
  }

  &.bright {
    background: $backgroundBright;
    color: $textBright;
  }

  &.dark {
    background: $backgroundDark;
    color: $textDark;
  }
}

* {
  box-sizing: border-box;
}